<h1>Hurry Up</h1>
<h2>You have no plan right NOW, or your old plan has passed, go to Edit profile to choose one</h2>
<%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-lg btn-default' %>
